body {
    font-family: Arial;
    margin: 0;
    background-color: #252526;
}

.page-title-container {
    display: flex;
    justify-content: center;
}

.page-title {
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 60px;
    padding: 0px 15px;
    display: inline-block;
    margin: 0;
    justify-content: center;
    margin-top: 10px;
    border: solid 2px white;
}

.workspace {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.left-section, .right-section {
    display: flex;
    align-items: center;
}

.left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid-size-prompt {
    color: white;
    font-weight: bold;
    margin-bottom: 0;
}

.slider-container {
    display: flex;
}

.right-section {
    justify-content: space-evenly;
}

.eraser, .reset-canvas {
    background-color: rgb(170, 170, 170);
    border: none;
    padding: 10px;
    border-radius: 10px;
    transition: opacity 0.15s;
    cursor: pointer;
}

.eraser:hover, .reset-canvas:hover {
    opacity: 0.8;
}

.eraser:active, .reset-canvas:active {
    opacity: 0.5;
}

/* Credit to this website for styling color picker because I have no clue how:
   https://codingartistweb.com/2021/09/styling-input-type-color-pure-css-tutorial/
*/

#color-picker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
  }
#color-picker::-webkit-color-swatch {
    border-radius: 50%;
    border: 3px solid #000000;
}
#color-picker::-moz-color-swatch {
    border-radius: 50%;
    border: 3px solid #000000;
}

.canvas-container {
    width: 500px;
    height: 500px;
    margin-top: 20px;
}

.canvas-row {
    display: flex;
}

.pixel {
    background-color: white;
}

.slider {
    cursor: pointer;
}

.slider-value {
    margin-right: 10px;
    font-weight: bold;
    color: white;
    font-size: 20px;
}